.introduction_overall_wrapper {
    
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.introduction_wrapper {
    margin: auto;
    width:50%;
    height:100%;
    
}

.app_title{
    text-align: center;
}
